
        /* Configuração de fontes */
/*        body {
            font-family: 'Inter', sans-serif;
        }

        /* Configuração de cores Tailwind baseada na paleta do PDF */
        /* #714329, #D09463, #D1B28A */
/*        .color-primary-dark { --tw-bg-opacity: 1; background-color: #714329; }
        .color-primary-text { --tw-text-opacity: 1; color: #714329; }
        .color-accent { --tw-bg-opacity: 1; background-color: #D09463; }
        .color-accent-text { --tw-text-opacity: 1; color: #D09463; }
        .color-card-bg { --tw-bg-opacity: 1; background-color: #D1B28A; }
        .color-page-bg { background-color: #F7F4EF; } /* Um creme muito claro */
/*        .color-input-bg { background-color: #EBE3D7; } /* Um pouco mais escuro que o card */